<div class="container">
  <h2>Nuevo préstamo</h2>

  <form>
    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select [(ngModel)]="loan.clientId" name="clientId" required>
        <mat-option [value]="null">Selecciona un cliente</mat-option>
        <mat-option *ngFor="let c of clients" [value]="c.id">
          {{ c.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Juego</mat-label>
      <mat-select [(ngModel)]="loan.gameId" name="gameId" required>
        <mat-option [value]="null">Selecciona un juego</mat-option>
        <mat-option *ngFor="let g of games" [value]="g.id">
          {{ g.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Inicio</mat-label>
      <input
        matInput
        type="date"
        [(ngModel)]="loan.startDate"
        name="startDate"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fin</mat-label>
      <input
        matInput
        type="date"
        [(ngModel)]="loan.endDate"
        name="endDate"
        required
      />
    </mat-form-field>
  </form>

  <div class="buttons">
    <button mat-stroked-button type="button" (click)="close()">
      Cancelar
    </button>

    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="onSave()"
      [disabled]="
        !loan.clientId ||
        !loan.gameId ||
        !loan.startDate ||
        !loan.endDate
      "
    >
      Guardar
    </button>
  </div>
</div>